/* reset */
* {margin: 0; padding: 0; box-sizing: border-box;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
/* 레이아웃 */
#wrap {width: 1200px; margin: 0 auto}

/* title */
#title {width: 1200px; height: 150px;
        display : flex;             /*이 3줄은 가운데 정렬*/
        justify-content: center;
        align-items: center;
}

#wrap a {text-decoration: none;}
#title span:first-child{
        width:340px;
        height:150px;
        display:inline-block;
        background-image: url("../images/title.jpg");
        background-size: cover;
}
/* header */
#header {width: 1200px; height: 50px;}
#header .plan span:first-child {float: left; width: 150px; height: 50px;
        background-image: url("../images/plan.jpg");
        background-size: cover;
        background-position: center;}
#header .board span:first-child{float: left; width: 150px; height: 50px;
        background-image: url("../images/board.jpg");
        background-size: cover;
        background-position: center;}
#header .join span:first-child{float: right; width: 150px; height: 50px;
        background-image: url("../images/join.jpg");
        background-size: cover;
        background-position: center;}
#header .login span:first-child{float: right; width: 150px; height: 50px;
        background-image: url("../images/login.jpg");
        background-size: cover;
        background-position: center;}

/* contents_1 */
#contents_1 {width: 1200px; height: 400px;}
#contents_1 .slide {float: left; width: 530px; height: 400px; overflow: hidden;}
#contents_1 .jeju {display: flex; height: 400px;}
#contents_1 .img { width: 530px; height: 400px;}
#contents_1 .plan {float: right; width: 670px; height: 400px;
                display : flex;             /*이 3줄은 가운데 정렬*/
                justify-content: center;
                align-items: center;}
#contents_1 .plan span:first-child{
        width: 300px; height: 300px;
        display: inline-block;
        background-image: url("../images/go.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

/* contents_2 */
#contents_2 {width: 1200px; height: 300px;}
nav ul {margin : 0; padding: 0; list-style: none; 
        display : flex;             /*이 3줄은 가운데 정렬*/
        justify-content: center;
        align-items: center;}
nav li {display: inline-block;}
nav li span:first-child {
        width: 200px;
        height: 200px;
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}
nav li:first-child span:first-child {background-image: url("../images/lodging.jpg");}
nav li:nth-child(2) span:first-child {background-image: url("../images/attraction.jpg");}
nav li:nth-child(3) span:first-child {background-image: url("../images/ptspot.jpg");}
nav li:nth-child(4) span:first-child {background-image: url("../images/restaurant.jpg");}

/* contents_3 */
#contents_3 {width: 1200px; height: 300px; background: #37513f;}

/* footer */
#footer {width: 1200px; height: 100px; background: #3dafb5;}